.theme-white .nav-link>li:hover{
	box-shadow: 0 0 5px #1ebaff;
}
.theme-black .nav-link>li:hover{
	box-shadow: 0 0 5px #dcdcdc;
}
.theme-black .am-thumbnail{
	background: rgba(248, 248, 248, 0.5);
}
.theme-black .am-panel {
    background-color: rgba(255, 255, 255, 0.38);
        border-color: #444;
}
.theme-black .am-panel-default>.am-panel-hd {
    color: #fff;
    background-color: rgba(105, 105, 105, 1);
    border-color: #444;
}
.theme-black .nav-class .list ul li a{
	color: #fff;
}
.theme-black .nav-class .list ul li.col-1 a {
    color: #fbdb65;
}
.theme-white .nav-class .list>.cf{
	border-bottom: 1px dashed #dedede;
}
.theme-black .nav-class .list>.cf{
	border-bottom: 1px dashed #444;
}
.theme-white .nav-class .list ul li.col-2 a:hover {
    color: #32c5d2;
}
.theme-black .nav-class .list ul li.col-2 a:hover {
    color: #fbdb65;
}
.theme-white .nav-class .list ul li.col-2 a.list-cool{
	color: #C49FFF;
}
.theme-black .nav-class .list ul li.col-2 a.list-cool{
	color: #F50829;
}